
  .input-red {
    color: red !important;
  }



  .exchangeRate, .poolSize {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #D4DBE2;
  }
  .poolInfo {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .assetOneBalance, .assetTwoBalance {
    color: #D4DBE2;
  }

  .pool-control-btn {        
    width: 120px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #5981F3;
    color:#5981F3;
    background: #3b4874;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    border-radius: 12px;
  }

  .pool-control-btn {
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .pool-control-btn:hover {
    background: #3b4874;
    color: #5982f39b;
  }
  .pool-control-btn:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }