.App {
  text-align: center;
}

header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #C9A66B;
}

.logo{
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.eth{
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  background-color: #7D5E3C;
  cursor: pointer;
}

.connectButton {
  background-color: #7D5E3C;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100px;
  color: #EAD39C;
  font-weight: bold;
  transition: 0.3s;
}

.connectButton:hover {
  cursor: pointer;
  color: #662E1C
}

.clmrPrice {
  padding-right: 20px;
}

.clmr {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

.headerLine {
  width: 100%;  
  margin-top: -1px;
  height: 2px;
  background-color: #C68E17;
}




/* Logo styles */
.dex-name {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: #C68E17;
  outline: none;
  text-align: center;
}

.dex-name:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}


.mainWindow {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
  /* color: red; */
}


.tradeBox, .poolBox {
  width: 400px;
  background-color: #C9A66B;
  border: 2px solid #21273a;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}


.tradeBoxHeader, .poolBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.switchButton {
  background-color: #EBDCB2;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  left: 180px;
  color: #C9A66B;
  border: 3px solid #662E1C;
  font-size: 12px;
  transition: 0.3s
}


.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.assetOneBalance {
  position: absolute;
  min-width: 50px;
  height: 25px;  
  top: 5px;
  right: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-right: 8px;
}

.assetOne {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #662E1C;
  top: 36px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
  padding-left: 10px;
}

.assetTwoBalance{
  position: absolute;
  min-width: 50px;
  height: 25px;  
  top: 104px;
  right: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-right: 8px;
}

.assetTwo {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #662E1C;
  top: 135px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
  padding-left: 10px;
}

.assetOne:hover{
  cursor: pointer;
}

.assetTwo:hover{
  cursor: pointer;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #662E1C; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #DDC5A2;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 8px;
}


.swapButton:hover {
  cursor: pointer;
  background-color: #523634;
}


.modalContent {
  border-top: 1px solid #DDC5A2;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #DDC5A2;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}


footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Высота футера */
  align-items: center;
  justify-content: center;
}

.creator {
  color: #C9A66B;
}

.social_icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.git_ico,
.linkedin_ico {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
